{% extends "base.html" %}
{% block content %}   
      <div class="about_section layout_padding">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-6">
                  <div class="about_taital_main">
                     <h1 class="about_taital">A propos de nous</h1>
                     <p class="about_text">Le PoneyClub 45 est un lieu où les enfants et les adultes peuvent venir découvrir l'univers des poneys et des chevaux, en toute sécurité. Avec des moniteurs expérimentés et des équidés bien entraînés, le PoneyClub 45 est le choix idéal pour ceux qui cherchent à développer leurs compétences équestres, quel que soit leur niveau. </p>
                     <div class="readmore_bt"><a>Voir plus</a></div>
                  </div>
               </div>
               <div class="col-md-6 padding_right_0">
                  <div><img src="../static/images/about-img.png" class="about_img"></div>
               </div>
            </div>
         </div>
      </div>
{% endblock %}
     