{% extends "base.html" %}
{% block content %}
      <!-- blog section start -->
      <div class="blog_section layout_padding margin_top_90">
         <div class="container">
            <h1 class="blog_taital">Voir notre vidéo de présentation</h1>
            <p class="blog_text">Découvrez notre poney club à travers cette vidéo de présentation !</p>
            <div class="play_icon_main">
               <div class="play_icon"><a href="#"><img src="images/play-icon.png"></a></div>
            </div>
         </div>
      </div>
      <!-- blog section end -->   
{% endblock %}