{% extends "base.html" %}
{% block content %}

      <!-- services section start -->
      <div class="services_section layout_padding">
         <div class="container">
            <h1 class="services_taital">Nos Services </h1>
            <p class="services_text">Nous proposons différent services dans notre Poney Club</p>
            <div class="services_section_2">
               <div class="row">
                  <div class="col-md-4">
                     <div><img src="../static/images/img-1.png" class="services_img"></div>
                     <div class="btn_main"><a>Promenade</a></div>
                  </div>
                  <div class="col-md-4">
                     <div><img src="../static/images/img-2.png" class="services_img"></div>
                     <div class="btn_main active"><a>Saut d'obstacle</a></div>
                  </div>
                  <div class="col-md-4">
                     <div><img src="../static/images/img-3.png" class="services_img"></div>
                     <div class="btn_main"><a>Le Dressage</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- services section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-6">
                  <div class="about_taital_main">
                     <h1 class="about_taital">A propos de nous</h1>
                     <p class="about_text">Le PoneyClub 45 est un lieu où les enfants et les adultes peuvent venir découvrir l'univers des poneys et des chevaux, en toute sécurité. Avec des moniteurs expérimentés et des équidés bien entraînés, le PoneyClub 45 est le choix idéal pour ceux qui cherchent à développer leurs compétences équestres, quel que soit leur niveau. </p>
                     <div class="readmore_bt"><a>Voir plus</a></div>
                  </div>
               </div>
               <div class="col-md-6 padding_right_0">
                  <div><img src="../static/images/about-img.png" class="about_img"></div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- blog section start -->
      <div class="blog_section layout_padding">
         <div class="container">
            <h1 class="blog_taital">Voir notre vidéo de présentation</h1>
            <p class="blog_text">Découvrez notre poney club à travers cette vidéo de présentation !</p>
            <div class="play_icon_main">
               <div class="play_icon"><a href="#"><img src="../static/images/play-icon.png"></a></div>
            </div>
         </div>
      </div>
      <!-- blog section end -->
      <!-- client section start -->
      <div class="client_section layout_padding">
         <div class="container">
            <h1 class="client_taital">Témoignage</h1>
            <div class="client_section_2">
               <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                     <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                     <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                     <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="client_main">
                           <div class="box_left">
                              <p class="lorem_text">J'ai été tellement impressionnée par l'expérience que j'ai eue au PoneyClub 45! Les moniteurs étaient incroyablement professionnels et compétents, et ils ont vraiment pris le temps de m'aider à développer mes compétences équestres. J'ai également été impressionnée par l'excellent état des équipements et des équidés - c'est évident que la sécurité est une priorité pour eux. Je recommande vivement ce poney-club à tous ceux qui cherchent à s'amuser et apprendre à chevaucher.</p>
                           </div>
                           <div class="box_right">
                              <div class="client_taital_left">
                                 <div class="client_img"><img src="../static/images/client-img.png"></div>
                                 <div class="quick_icon"><img src="../static/images/quick-icon.png"></div>
                              </div>
                              <div class="client_taital_right">
                                 <h4 class="client_name">Naruto</h4>
                                 <p class="customer_text">Uzumaki</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="client_main">
                           <div class="box_left">
                              <p class="lorem_text">J'ai été tellement heureux de mon expérience au PoneyClub 45! Les moniteurs étaient super cool, et ils m'ont vraiment aidé à apprendre les ficelles du métier. Et les poneys étaient tellement mignon. J'y ai passé un super moment et j'y retournerais sans hésiter !.</p>
                           </div>
                           <div class="box_right">
                              <div class="client_taital_left">
                                 <div class="client_img"><img src="../static/images/client-img.png"></div>
                                 <div class="quick_icon"><img src="../static/images/quick-icon.png"></div>
                              </div>
                              <div class="client_taital_right">
                                 <h4 class="client_name">Zoro</h4>
                                 <p class="customer_text">Roronoa</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="client_main">
                           <div class="box_left">
                              <p class="lorem_text">Mon enfant a adoré son expérience au PoneyClub 45. Les moniteurs ont été incroyablement patients et attentionnés avec lui, et ils ont réussi à lui inculquer une passion pour les chevaux. Il ne peut pas attendre pour y retourner et continuer à apprendre. Nous recommandons fortement ce club équestre à tous les parents qui cherchent une activité amusante et éducative pour leur enfant.</p>
                           </div>
                           <div class="box_right">
                              <div class="client_taital_left">
                                 <div class="client_img"><img src="../static/images/client-img.png"></div>
                                 <div class="quick_icon"><img src="../static/images/quick-icon.png"></div>
                              </div>
                              <div class="client_taital_right">
                                 <h4 class="client_name">Jhon</h4>
                                 <p class="customer_text">Cena</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- client section start -->
      <!-- choose section start -->
      <div class="choose_section layout_padding">
         <div class="container">
            <h1 class="choose_taital">Pourquoi nous choisir ?</h1>
            <p class="choose_text">Le PoneyClub 45 se distingue par notre engagement à offrir une expérience équestre de qualité supérieure. Avec des moniteurs expérimentés et des équidés bien entraînés, nous sommes déterminés à fournir un enseignement sûr et efficace. De plus, notre équipement moderne et notre attention constante à la sécurité garantissent que les clients se sentent en sécurité en tout temps. Choisir le PoneyClub 45, c'est choisir un lieu où vous pourrez apprendre, vous amuser et développer votre passion pour les chevaux. </p>
            <div class="read_bt_1"><a >Voir plus</a></div>
            <div class="newsletter_box">
               <h1 class="let_text">Nous contactez</h1>
            </div>
         </div>
      </div>
      <!-- choose section end -->
      {% endblock %}
