{% extends "base.html" %}
{% block content %}
<div class="poney-container">
    <div class="poney-card">
        <img src="cheval1.jpg" alt="Cheval1">
        <h2> Prénom : Poney1 </h2>
        <p> Description : C'est un poney très gentil et affectueux, il aime les caresses et les sorties en forêt. Il est idéal pour les enfants et les débutants. </p>
    </div>
    <div class="poney-card">
        <img src="cheval2.jpg" alt="Cheval2">
        <h2> Prénom : Poney2 </h2>
        <p> Description : C'est un poney très énergique et joueur, il aime les longues balades et les sauts d'obstacles. Il convient aux cavaliers expérimentés. </p>
    </div>
</div>

{% endblock%}