{% extends "base.html" %}
{% block content %}
   </head>
      <!-- header section end -->
      <!-- services section start -->
      <div class="services_section layout_padding">
         <div class="container">
            <h1 class="services_taital">Nos Services </h1>
            <p class="services_text" style="font-size: 1.5em">Nous proposons différent services dans notre Poney Club</p>
            <div class="services_section_2">
               <div class="row">
                  <div class="col-md-4">
                     <div><img src="../static/images/img-1.png" class="services_img"></div>
                     <div class="btn_main"><a>Promenade</a></div>
                  </div>
                  <div class="col-md-4">
                     <div><img src="../static/images/img-2.png" class="services_img"></div>
                     <div class="btn_main active"><a>Saut d'obstacle</a></div>
                  </div>
                  <div class="col-md-4">
                     <div><img src="../static/images/img-3.png" class="services_img"></div>
                     <div class="btn_main"><a>Le Dressage</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- services section end -->
      {% endblock %}
